.author {
    font-style: italic;
    font-size: 2em;
}

.author:before {
    content: "Publications - ";
    font-weight: normal;
    font-style: normal;
}

.author:after {
    content: ":";
    font-weight: normal;
    font-style: normal;
}

.pub_list:before {
    content: "[JA] Journal Article - [CP] Conference Paper - [BC] Book Chapter - [BO] Book - [TH] Thesis - [OT] Other";
    font-size: 80%;
    margin-left: 2em;
    margin-bottom: 10px;
    display: block;    
}

.pub_list {
}

.year_block {
}

.year_block_head {
    padding: 5px;
    width: 5em;
    text-align: center;
    background: #e2e2e2;
    border-radius: 1ex;
    font-weight: bold;
}

.pub {
    margin-left: 3em;
}

.pub:before {
    font-size: 70%;
    border-radius: 3px;
    padding: 3px;
    margin-left: -3em;
}

.injour:before {
    content: "[JA]";
    background-color: orange;
}

.inconf:before {
    content: "[CP]";
    background-color:turquoise;
}

.inbook:before {
    content: "[BC]";
    background-color: violet;
}

.thesis:before {
    content: "[TH]";
    background-color: pink;
}

.book:before {
    content: "[BO]";
    background-color: lightgreen;
}

.other:before {
    content: "[OT]";
    background-color: lightgray;
}

.pub div {
    display:inline;
    line-height: 1.5;
}

.authors {
    margin-left: .5em;
    font-style: italic;
}

.title {
    margin-left: .5em;
    font-weight: bold;
}

.where {
    margin-left: .5em;
}

.injour .where {
}

.other .where {
}

.inconf .where {
}

.inconf .where:before {
    content: "In proceedings of ";
}

.inbook .where {
}

.inbook .where:before {
    content: "Chapter in ";
}

.volume:after {
    content: ",";
}

.year:after {
    content: ",";
}

.pages:after {
    content: ",";
}

.doi:before{
    content: "DOI: ";
    font-size: 70%;
}

.pdflink {
    background: #e2e2e2;
    border-radius: 3px;
    padding: 3px;
    font-size: 70%;
}
